@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Import Roboto font in your CSS file */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

@layer base {
  .btn {
    @apply bg-blue-400 h-[60px] px-4 rounded-full hover:bg-blue-400 transition flex items-center text-lg font-medium outline-none;
  }
  .section {
    @apply py-12 lg:py-24;
  }
  .section-title {
    @apply text-2xl lg:text-[40px]  font-extrabold leading-normal mb-6;
  }
  .section-subtitle {
    @apply mt-6 mb-8 text-gray-200;
  }
  .custom-shadow {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  }
}
